html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --grid-item: 3;
}

ul.list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.grid-item {
  flex-basis: calc((100% - 30px * var(--grid-item)) / var(--grid-item));
  margin-left: 30px;
  margin-top: 30px;
}

body {
  padding-left: 100px;
  padding-right: 100px;
  background-color: #1043ba;
}

.header {
  background-image: url(./images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  position: relative;
  box-shadow: 10px 14px 30px -2px rgba(13, 117, 197, 0.2);
  border-radius: 14px;
  margin-top: 20px;
}

.load-more,
.restart {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-color: slategray;
  color: slategray;
  border-radius: 4px;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-more:focus,
.restart:focus,
.load-more:hover,
.restart:hover {
  background-color: #06cddc;
  color: white;
}

.is-hidden {
  display: none;
}
#search-btn {
  margin-left: 10px;
  background-color: white;
  border-color: slategray;
  border-radius: 4px;
  color: slategray;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#search-btn:hover,
#search-btn:focus {
  background-color: #06cddc;
  color: white;
}
.option-buttons {
  display: flex;
}

.search-form {
  display: flex;
  justify-content: center;
  padding-top: 80px;
  position: absolute;
  padding-left: 170px;
}

.gallery {
  display: flex;
  width: 1200px;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.stats {
  display: inline-flex;
  justify-content: space-around;
  width: 100%;

  padding-top: 15px;
}
.photo-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 3px;
  justify-content: space-between;
  height: fit-content;
  background-color: slategray;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover,
.photo-card:focus {
  box-shadow: 10px 14px 30px -2px rgba(13, 117, 197, 0.9);
  background-color: #06cddc;
}
.material-icons {
  color: white;
  padding-right: 3px;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover .material-icons,
.photo-card:focus .material-icons {
  color: slategray;
}
.photo-card:hover .stats,
.photo-card:focus .stats {
  box-shadow: inset 2px 1px 4px black;
  border-radius: 2px;
}
.photo-card:hover .stats-item,
.photo-card:focus .stats-item {
  color: slategray;
}

.stats-item {
  color: white;
  margin: 5px;
  display: flex;
  align-items: center;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Lightbox */
.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}

.lightbox__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox__content {
  transform: scale(0.95);
  transition: transform var(--animation-duration) var(--timing-function);
}

.lightbox.is-open .lightbox__content {
  transform: scale(1);
}

.lightbox__image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
}
